#st-header-wrapper,#st-header-wrappers
{
	box-shadow:0 1px 0 rgba(0,0,0,.05), 0 3px 3px rgba(0,0,0,.05);
	border-bottom:2px dashed #28b8d0;
	margin:0;
	padding:10px 0;
	width:100%;
	background:rgba(255,255,255,0.87);
	height:55px;
	line-height:35px;
	position:fixed;
	z-index:9999;
}
.header_gocit
                {
                    width:100%;
                    margin:0 auto;
                    height:55px;
                    padding:10px 0;
                    max-width:1200px;
                    position:relative;
                    text-align:center
                }

                div#header-inner
                {
                    float:left;
                    width:190px;
                    margin-left:30px
                }

                .titlewrapper
                {
                    color:#eee;
                    transition:all .4s ease-in-out
                }

                .search-gg
                {
                    width:auto;
                    line-height:initial;
                    right:0;
                    text-align:left;
                    padding-left:10px;
                    position:absolute;
                    top:0;
                    z-index:9999999
                }

                .search-gg
                {
                    width:auto;
                    line-height:initial;
                    right:0;
                    text-align:left;
                    padding-left:10px;
                    position:absolute;
                    top:0;
                    z-index:9999999
                }
                #search
                {
                    overflow:hidden;
                    width:240px;
                    position:absolute;
                    top:10px;
                    right:0;
                    outline:0;
                    padding-bottom:1px;
                    background:#fff;
                    height:35px;
                    border-radius:20px;
                    margin:0;
                    z-index:10;
                    padding-left:15px;
                    font-size:14px;
                    color:#111;
                    border:1px solid #bbb;
                    transition:all .2s
                }
                #search:focus
                {
                    box-shadow:0 0 15px rgba(0,170,255,.3);
                    border:1px solid #28b8d0
                }
                .sb-search-submit
                {
                    opacity:0;
                    right:0;
                    width:80px;
                    z-index:9999;
                    display:none;
                    height:35px;
                    position:absolute;
                    top:10px;
                    padding:0;
                    margin:0;
                    line-height:35px;
                    text-align:center;
                    cursor:pointer
                }
                .sb-icon-search
                {
                    width:80px;
                    height:35px;
                    display:none;
                    position:absolute;
                    right:0;
                    top:10px;
                    padding:0;
                    margin:0;
                    line-height:35px;
                    text-align:center;
                    cursor:pointer;
                    color:#fff;
                    background:#333;
                    border-radius:20px;
                    font-size:13px
                }
                @media screen and (max-width:1000px)
                {
                    .search-gg
                    {
                        right:55x;
                        display:none
                    }
                    button.search-submit
                    {
                        display:none
                    }
                    input#search
                    {
                        width:200px!important;
                        right:40px
                    }
                    .sb-icon-search,.sb-search-submit
                    {
                        display:block
                    }
                }
                #search-closed.show
                {
                    display:block
                }
                .search-gg.show
                {
                    display:block
                }
                #search-closed
                {
                    display:none
                }
                button.search-submit
                {
                    position:absolute;
                    width:40px;
                    height:35px;
                    font-size:16px;
                    border:0;
                    top:10px;
                    padding:0;
                    background:transparent;
                    right:0;
                    cursor:pointer;
                    z-index:999;
                    color:#333
                }
                .search-submit:hover
                {
                    color:#28b8d0
                }
                button.search-submit:before
                {
                    font-family:FontAwesome;
                    content:&#39;\f002&#39;
                }
